
__pycache__/tiff_analyzer.cpython-37.pyc
.idea/workspace.xml
.ipynb_checkpoints/tiff_analyzer-checkpoint.py
.idea/workspace.xml
tiff_analyzer.pyc
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
